<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  	<!--v1.4\Languages\English\Keyed\Settings.xml-->

	<!-- Global config -->
	<RR_setting_tab_GLOBAL_CONFIG>Глобальные настройки</RR_setting_tab_GLOBAL_CONFIG>
	<!-- Category presets -->
	<RR_setting_tab_CATEGORY_PRESETS>Пресеты категорий</RR_setting_tab_CATEGORY_PRESETS>
	<!-- Category config -->
	<RR_setting_tab_CATEGORY_CONFIG>Настройка категорий</RR_setting_tab_CATEGORY_CONFIG>
	<!-- Mod integrations -->
	<RR_setting_tab_MOD_INTEGRATIONS>Интеграция модов</RR_setting_tab_MOD_INTEGRATIONS>
	
	<!-- Configure global Research Reinvented settings. -->
	<RR_setting_tab_GLOBAL_CONFIG_tooltip>Настройка основных параметров Research Reinvented.</RR_setting_tab_GLOBAL_CONFIG_tooltip>
	<!-- Select a preset of research point distribution between opportunity categories. -->
	<RR_setting_tab_CATEGORY_PRESETS_tooltip>Выберите пресет распределения очков исследования между категориями возможностей.</RR_setting_tab_CATEGORY_PRESETS_tooltip>
	<!-- Configure individual research opportunity categories. -->
	<RR_setting_tab_CATEGORY_CONFIG_tooltip>Настройте отдельные категории возможностей для исследования.</RR_setting_tab_CATEGORY_CONFIG_tooltip>

	<!-- Show progress motes -->
	<RR_setting_showProgressMotes>Отображать прогресс</RR_setting_showProgressMotes>
	<!-- When enabled, motes (floating messages) will briefly appear above pawns that have made significant research progress. -->
	<RR_setting_defaultCompactMode_showProgressMotes_tooltip>При включении, над персонажами, добившимися значительного прогресса в исследованиях, на короткое время появятся пузыри (исчезающие сообщения).</RR_setting_defaultCompactMode_showProgressMotes_tooltip>
	
	<!-- Research window defaults to compact mode -->
	<RR_setting_defaultCompactMode>Окно исследования по умолчанию находится в компактном режиме</RR_setting_defaultCompactMode>
	<!-- When enabled, the research opportunities list window will default to compact mode. -->
	<RR_setting_defaultCompactMode_tooltip>Если эта функция включена, окно списка возможностей для исследований по умолчанию находится в компактном режиме.</RR_setting_defaultCompactMode_tooltip>
	

	<!-- Allow field research without research kit -->
	<RR_setting_kitlessResearch>Разрешить проведение полевых исследований без исследовательского набора</RR_setting_kitlessResearch>
	<!-- When enabled, field research can be performed without any research kit for research projects that only require a simple research table/kit. -->
	<RR_setting_kitlessResearch_tooltip>При включении функции полевые исследования могут проводиться без исследовательского набора для исследований, которым требуется только простой исследовательский стол.</RR_setting_kitlessResearch_tooltip>
	
	<!-- Allow field research without kit for neolithic technologies -->
	<RR_setting_kitlessNeolithicResearch>Разрешить проводить полевые исследования без набора для неолитических технологий</RR_setting_kitlessNeolithicResearch>
	<!-- When enabled, field research can be performed without any research kit for research projects that are of neolithic tech level. -->
	<RR_setting_kitlessNeolithicResearch_tooltip>При включении функции позволяют проводить полевые исследования без набора для неолитических технологий</RR_setting_kitlessNeolithicResearch_tooltip>
	
	<!-- Select category -->
	<RR_setting_category_selector>Выбор категории</RR_setting_category_selector>
	
	<!-- Category enabled -->
	<RR_setting_category_enabled>Можно исследовать</RR_setting_category_enabled>
	<!-- Toggle this to disable this category of research opportunities entirely. -->
	<RR_setting_category_enabled_tooltip>Снимите галочку, чтобы отключить эту категорию для исслледований.</RR_setting_category_enabled_tooltip>
	
	<!-- Available at overall progress -->
	<RR_setting_category_availableAtOverallProgress>Доступно для общего прогресса</RR_setting_category_availableAtOverallProgress>
	<!-- Controls during which phase of research is this category available. -->
	<RR_setting_category_availableAtOverallProgress_tooltip>Контролирует, на каком этапе исследования доступна эта категория.</RR_setting_category_availableAtOverallProgress_tooltip>
	
	<!-- Importance -->
	<RR_setting_category_importanceMultiplier>Значимость категории</RR_setting_category_importanceMultiplier>
	<!-- Importance of this category relative to others used when calculating how many research points will be distributed to this category. -->
	<RR_setting_category_importanceMultiplier_tooltip>При распределении баллов за исследование проекта это значение определяет, сколько баллов он получит по отношению к другим категориям.\n\nБолее высокое значение означает большее количество баллов.</RR_setting_category_importanceMultiplier_tooltip>
	
	<!-- Importance counted -->
	<RR_setting_category_importanceMultiplierCounted>Важность категории</RR_setting_category_importanceMultiplierCounted>
	<!-- Importance of this category relative to others used when calculating how many research points will be distributed to other categories. Must be smaller or equal to the actual importance multiplier. -->
	<RR_setting_category_importanceMultiplierCounted_tooltip>Используется при расчете баллов за исследования, распределенных по другим категориям.\nЗначение должно быть меньше или равно "Значимость категории".\n\nМеньшее значение здесь означает, что для завершения проекта требуется меньшее количество баллов из этой категории, а установка значения в 0% делает категорию совершенно необязательной.</RR_setting_category_importanceMultiplierCounted_tooltip>
	
	<!-- Target iterations -->
	<RR_setting_category_targetIterations>Максимальное количество возможностей</RR_setting_category_targetIterations>
	<!-- The maximum individual opportunities required to fully complete this category. -->
	<RR_setting_category_targetIterations_tooltip>Максимальное количество возможностей исследований, необходимых для полного заполнения этой категории.</RR_setting_category_targetIterations_tooltip>
	
	<!-- Infinite overflow -->
	<RR_setting_category_infiniteOverflow>Бесконечная категория</RR_setting_category_infiniteOverflow>
	<!-- Allow research in this category to always continue if there are more opportunities of this type available. -->
	<RR_setting_category_infiniteOverflow_tooltip>Разрешить продолжать исследования в этой категории до тех пор, пока будут доступны дополнительные возможности такого типа.</RR_setting_category_infiniteOverflow_tooltip>
	
	<!-- Research speed multiplier -->
	<RR_setting_category_researchSpeedMultiplier>Множитель скорости исследования</RR_setting_category_researchSpeedMultiplier>
	<!-- Opportunities of this category will have their research speed multiplied by the set percentage. -->
	<RR_setting_category_researchSpeedMultiplier_tooltip>Скорость исследований в этой категории будет умножена на установленный процент.</RR_setting_category_researchSpeedMultiplier_tooltip>
	
	<!-- Total target fraction multiplier -->
	<RR_setting_category_fractionAxis>Общий множитель скорости исследования</RR_setting_category_fractionAxis>
	<!-- Research speed -->
	<RR_setting_category_researchSpeedAxis>Скорость исследования</RR_setting_category_researchSpeedAxis>
	
	<!-- Reset to preset default -->
	<RR_setting_category_resetToDefault>Сброс к значениям по умолчанию</RR_setting_category_resetToDefault>
	
	
	<!--- Mod compat -->
	
	<!-- Combat Extended detected. -->
	<RR_setting_modCompat_detected_combatExtended>Combat Extended обнаружен.</RR_setting_modCompat_detected_combatExtended>
	<!-- Combat Extended not detected. -->
	<RR_setting_modCompat_notDetected_combatExtended>Combat Extended не обнаружен.</RR_setting_modCompat_notDetected_combatExtended>
	
	<!-- Dubs Mint Menus detected. -->
	<RR_setting_modCompat_detected_dubsMintMenus>Dubs Mint Menus обнаружен.</RR_setting_modCompat_detected_dubsMintMenus>
	<!-- Dubs Mint Menus not detected. -->
	<RR_setting_modCompat_notDetected_dubsMintMenus>Dubs Mint Menus не обнаружен.</RR_setting_modCompat_notDetected_dubsMintMenus>
	
	<!-- Humanoid Alien Races detected. -->
	<RR_setting_modCompat_detected_humanoidAlienRaces>Humanoid Alien Races обнаружен.</RR_setting_modCompat_detected_humanoidAlienRaces>
	<!-- Humanoid Alien Races not detected. -->
	<RR_setting_modCompat_notDetected_humanoidAlienRaces>Humanoid Alien Races не обнаружен.</RR_setting_modCompat_notDetected_humanoidAlienRaces>
	
	<!-- Research Data detected. -->
	<RR_setting_modCompat_detected_researchData>Research Data обнаружен.</RR_setting_modCompat_detected_researchData>
	<!-- Compatibility mode -->
	<RR_setting_modCompat_researchData_mode>Режим совместимости</RR_setting_modCompat_researchData_mode>
	<!-- Theory only -->
	<RR_modCompat_researchData_mode_TheoryOnly>Только теоритические</RR_modCompat_researchData_mode_TheoryOnly>
	<!-- Research Data "fuel" will only be needed and consumed by theory research. -->
	<RR_modCompat_researchData_mode_TheoryOnly_tooltip>«Топливо» будет расходоваться только при теоретических исследованиях.</RR_modCompat_researchData_mode_TheoryOnly_tooltip>
	<!-- All research -->
	<RR_modCompat_researchData_mode_AllBenchResearch>Все исследования</RR_modCompat_researchData_mode_AllBenchResearch>
	<!-- Research Data "fuel" will be needed and consumed by any research done at a research bench. -->
	<RR_modCompat_researchData_mode_AllBenchResearch_tooltip>«Топливо» будет необходимо для любых исследований, проводимых на исследовательском столе.</RR_modCompat_researchData_mode_AllBenchResearch_tooltip>
	<!-- Research Data not detected. -->
	<RR_setting_modCompat_notDetected_researchData>Research Data не обнаружен.</RR_setting_modCompat_notDetected_researchData>
	
	<!--- Obsolete -->
	<!-- Enable debug mode -->
	<RR_setting_debugPrintouts>Включить режим отладки</RR_setting_debugPrintouts>
	<!-- When enabled, various developer printouts and visuals will be active. -->
	<RR_setting_debugPrintouts_tooltip>При включении, будут активны различные функции для разработчика.</RR_setting_debugPrintouts_tooltip>
	
	<!-- Target fraction multiplier -->
	<RR_setting_category_targetFractionMultiplier>Конкретный множитель долей</RR_setting_category_targetFractionMultiplier>
	<!-- The generated opportunities try to split the research cost of the project according to the relative fraction sizes of categories, depending on this value. -->
	<RR_setting_category_targetFractionMultiplier_tooltip>Сгенерированные возможности будут распределить стоимость исследования в соответствии с относительными размерами долей категорий, в зависимости от этого значения.</RR_setting_category_targetFractionMultiplier_tooltip>
	
	<!-- Extra fraction multiplier -->
	<RR_setting_category_extraFractionMultiplier>Дополнительный множитель частей</RR_setting_category_extraFractionMultiplier>
	<!-- Additional research allowed for this category that is not included in the initial fraction assigned to it. -->
	<RR_setting_category_extraFractionMultiplier_tooltip>Дополнительные исследования, предусмотренные для этой категории, которые не включены в первоначально присвоенную ей часть.</RR_setting_category_extraFractionMultiplier_tooltip>
	
</LanguageData>